span.help{
    display: inline-block;
    position: relative;
    margin: 5px;
}

span.help .button{
    cursor: pointer;
    font-weight: bold;

    margin: 0;
}

span.help .text{
    min-width: 80px;
    padding: 5px;

    position: absolute;
    top: 0;
    left: -45px;

    background-color: rgba(175, 175, 175, .75);
    color: #ffffff;
}

span.help .text > *{
    color: #ffffff;
}